<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 作用域插槽</title>

</head>

<body>
    <!-- 作用域插槽代表性用例——列表组件。 -->
    <div id="app">
        <!-- <my-list :books="books">

            <template slot="book" scope="props">
                <li>{{ props.bookName }}</li>
            </template>
        </my-list> -->
        <my-test-list :books="books">
            <!-- 作用域插槽也可以是具名的slot -->
            <template slot="book" scope="props">
                <li>{{ props.bookName }}</li>
            </template>
        </my-test-list>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script>
        // Vue.component('my-list', {
        //     props: {
        //         books: {
        //             type: Array,
        //             default: function() {
        //                 return [];
        //             }
        //         }
        //     },
        //     template: '\
        //     <ul>\
        //         <slot name="book"\
        //               v-for="book in books"\
        //               :book-name="book.name">\
        //               <!--这里也可以写默认slot内容-->\
        //         </slot>\
        //     </ul>'
        // });

        Vue.component('my-test-list', {
            props: {
                books: {
                    type: Array,
                    default: function() {
                        return [];
                    }
                }
            },
            template: '\
                <ul>\
                    <slot name="book"\
                          v-for="book in books"\
                          :book-name="book.name">\
                          <!-- 这里也可以写默认slot内容 -->\
                    </slot>\
                </ul>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                books: [
                    { name: '《Vue.js实战》' },
                    { name: '《JavaScript语言精粹》' },
                    { name: '《JavaScript高级程序设计》' }
                ]
            }
        });
    </script>
</body>

</html>