<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 使用props传递数据</title>

</head>

<body>

    <!-- 数组用法 -->

    <div id="app">
        <input type="text" v-model="parentMessage">
        <my-component :message="parentMessage"></my-component>
        <input type="text" v-model="myTitle">
        <title-component :my-title-small="myTitle"></title-component>
        <p>
            <label>请输入你的名字：</label>
            <input type="text" 
                   v-model="myName">
        </p>
        <p>
            <label>请开始你的表演：</label>
            <input type="text"
                   v-model="myNameTitle">
        </p>
        <test-component v-if="myName !== '' && myNameTitle !== ''"
                        :name="myName" 
                        :name-title="myNameTitle"></test-component>
        </div>


    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script>
        Vue.component('my-component', {
            props: ['message'],
            template: '<div>{{ message }}</div>'
        });
        Vue.component('title-component', {
            props: ['myTitleSmall'],
            template: '<h1>{{ myTitleSmall }} </h1>'
        });
        Vue.component('test-component', {
            props: ['name', 'nameTitle'],
            template: '<h2>{{ name }}, {{ nameTitle }}！</h2>'
        })
        var app = new Vue({
            el: '#app',
            data: {
                parentMessage: '',
                myTitle: '',
                myName: '',
                myNameTitle: ''
            }
        })
    </script>
</body>

</html>