<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue v-model</title>

</head>

<body>

    <div id="app">
        <input type="text" v-model="message" placeholder="输入……">
        <p>输入的内容是： {{ message }}</p>
        <textarea v-model="text" placeholder="输入……"></textarea>
        <p>输入的内容是：</p>
        <p style="white-space: pre">{{ text }}</p>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '',
                text: ''
            }
        })
    </script>
</body>

</html>